* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #222;;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    text-align: center;
}

input {
    background-color: transparent;
    border: none;
    font-size: 2em;
    border-bottom: 3px solid #333;
    outline: none;
    transition: border-color .3s ease;
    color: white;
    width: 80%;
}

input:focus {
    border-color: white;
}
