<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRC</title>

    <link rel="stylesheet" media="screen" href="/css/jquery.cssemoticons.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <div class="wrapper">
        <div class="messages">
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport">
                 <div class="overview">
                </div>
            </div>
        </div>

        <div class="input">
            <input autofocus type="text" placeholder="Text here">
            <button>Send</button>
        </div>
    </div>

    <script src="/js/jquery-1.4.2.min.js"></script>
    <script src="/js/jquery.cssemoticons.min.js"></script>
    <script src="/js/tinyscrollbar.js"></script>
    <script type="module" src="/js/chat.js"></script>
</body>

</html>